<div class="container">
    <div>
        <h3>Q1. Which of the following statement is correct for AngularJS?</h3>
        <p><input class="crt" type="radio" name="q1">AngularJS is an HTML framework</p>
        <p><input type="radio" name="q1">AngularJS is a Java framework</p>
        <p><input type="radio" name="q1" checked>AngularJS is a JavaScript framework</p>
        <p><input type="radio" name="q1">AngularJS is a SQL framework</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div>


    <div>
        <h3>Q2. On which of the Architectural pattern AngularJS is based?</h3>
        <p><input type="radio" name="q2">Observer Pattern</p>
        <p><input type="radio" name="q2">Decorator pattern</p>
        <p><input type="radio" name="q2">MVC Architecture pattern</p>
        <p><input type="radio" name="q2"checked>MVVM Architectural pattern</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div>


    <div>
        <h3>Q3. AngularJS is perfect for?</h3>
        <p><input type="radio" name="q3">SPAs</p>
        <p><input type="radio" name="q3" checked>MPAs</p>
        <p><input type="radio" name="q3">DPAs</p>
        <p><input type="radio" name="q3">CPAs</p>
    </div>
    <div>
        <p class="text-danger">❌ Incorrect</p>
        <!-- <p class="text-danger">✔️ Correct</p> -->
    </div>


    <div>
        <h3>Q4. Which of the following is an advantage of AngularJS?</h3>
        <p><input type="radio" name="q4">AngularJS code is unit testable</p>
        <p><input type="radio" name="q4">AngularJS provides reusable components</p>
        <p><input type="radio" name="q4">AngularJS uses dependency injection and makes use of separation of concerns</p>
        <p><input type="radio" name="q4" checked>All of the above</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div>


    <div>
        <h3>Q5. Do AngularJS provide reusable components?</h3>
        <p><input type="radio" name="q5" checked>Yes</p>
        <p><input type="radio" name="q5">No</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div>


    <div>
        <h3>Q6. Which of the following statement is true about the lowercase filter?</h3>
        <p><input type="radio" name="q6">The lowercase filter converts a text to lower case text</p>
        <p><input type="radio" name="q6" checked>The lowercase filter is a function that takes text as input</p>
        <p><input type="radio" name="q6">Both of the above</p>
        <p><input type="radio" name="q6">None of the above</p>
    </div>
    <div>
        <p class="text-danger">❌ Incorrect</p>
        <!-- <p class="text-danger">✔️ Correct</p> -->
    </div>


    <div>
        <h3>Q7. Which of the following statement is true about $dirty flag?</h3>
        <p><input type="radio" name="q7">$dirty flag is used to state that value has been changed</p>
        <p><input type="radio" name="q7">$dirty flag is used to state that the form has invalid data</p>
        <p><input type="radio" name="q7" checked>Both of the above</p>
        <p><input type="radio" name="q7">Both of the above</p>
    </div>
    <div>
        <p class="text-danger">❌ Incorrect</p>
        <!-- <p class="text-danger">✔️ Correct</p> -->
    </div>


    <div>
        <h3>Q8. What is the use of Angular Controllers in the application?</h3>
        <p><input type="radio" name="q8" checked>Angular controllers are used for controlling the data</p>
        <p><input type="radio" name="q8">Angular controllers are used for displaying the data</p>
        <p><input type="radio" name="q8">Both of the above are correct</p>
        <p><input type="radio" name="q8">None of the above is correct</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div>


    <div>
        <h3>Q9. Which of the following syntax is used to create a module in AngularJS?</h3>
        <p><input type="radio" name="q9">var myModule= angular.module();</p>
        <p><input type="radio" name="q9">var myModule= new Module();</p>
        <p><input type="radio" name="q9" checked>module("app", []);</p>
        <p><input type="radio" name="q9">None of the above</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div>


    <div>
        <h3>Q10. Which of the following is used to share data between controller and view in AngularJS?</h3>
        <p><input type="radio" name="q10">using Model</p>
        <p><input type="radio" name="q10" checked>using services</p>
        <p><input type="radio" name="q10">using factory</p>
        <p><input type="radio" name="q10">using $scope</p>
    </div>
    <div>
        <!-- <p class="text-danger">❌ Incorrect</p> -->
        <p class="text-danger">✔️ Correct</p>
    </div><br>

    <div>
        <h4>Result:</h4>
        <p class="res">Total Questions - 10</p>
        <p class="res">Total Correct - 7</p>
        <p class="res">Total Incorrect - 3</p>
    </div>
    <br><br>
</div>